.featured-bg-image{
   
   
   
}

.amenities-content{
   
   .amenities-image{
      margin-top:-50px;
   }
   
   .box-top{
      position: relative;
   }
   .box-bottom{
      margin-top:-100px;
      margin-left: 272px;
   }
}