/*
/* only include the WOFF and WOFF2 formats
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
*/